name: eslint (npx)

on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Run ESLint (via npx)
        run: npx eslint 'TM_abufilter.js' --max-warnings=0 -f github
